[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

gunicorn = "*"
requests = "*"
Flask = "*"
bokeh = "==0.12.7"
pandas = "*"
simplejson = "*"


[dev-packages]



[requires]

python_version = "3.6"
